<html>

<head>
	<title>SocialCabin | Main Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
</head>

<body>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="https://socialcabin.topscientist.repl.co/">Home</a>
		<a href="#">About Us</a>
		<a href="#">Contact Us</a>
    <a href="#">Help Center</a>
		<a href="#">Login</a>
	</div>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	</div>
	<div>
		<div style="float: left;">
			<element style="font-size:30px;cursor:pointer" , onclick="openNav()">&#9776;</element>
		</div>
		<div style="text-align: center;">
			<h1 class="text">SocialCabin</h1>
		</div>
	</div>

	<div style="text-align:center;padding: 20px;" class="landing-header">
		<p style="font-size: 60px; padding: 20px; font-family: 'Raleway', sans-serif;">Welcome To SocialCabin!</p>
		<h2>Finally, a private, free and fun alterative to Twitter, Facebook and TikTok</h2>
	</div>
	<img src="" alt="">
<div class="row">
  <div class="column id="column-1">
    <div style="text-align: center;"">
      <h2 class="column-header">Lorem</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nisi libero, quos accusamus repellendus eum totam? Earum quibusdam amet animi nemo est natus vel, dolore saepe itaque expedita deleniti dolores.</p>
    </div>
  </div>
  <div class="column" id="column-2">
    <div style="text-align: center;">
      <h2 class="column-header">Ipsum</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex est impedit non quasi nihil at necessitatibus natus possimus corporis nesciunt, sit voluptatum blanditiis corrupti consequatur atque ipsum! Deserunt, veniam totam.</p>
    </div>
  </div>
  <div class="column" id="column-3">
    <div style="text-align: center;">
      <h2 class="column-header">Dolor</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex est impedit non quasi nihil at necessitatibus natus possimus corporis nesciunt, sit voluptatum blanditiis corrupti consequatur atque ipsum! Deserunt, veniam totam.</p>
    </div>
  </div>
</div>
<section class="feature-container">
  <div class="features">
    <img src="" alt="">
    <p id="feature-intro-t">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, commodi excepturi! Enim eos id ut blanditiis ipsum saepe fugit dignissimos quia! Sunt eveniet unde suscipit recusandae corporis quia similique, porro velit eligendi aperiam. Sint obcaecati unde officiis labore, delectus officia distinctio et necessitatibus deleniti eius ea impedit. Blanditiis, nostrum soluta.</p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e3e4e6" fill-opacity="1" d="M0,192L17.1,186.7C34.3,181,69,171,103,160C137.1,149,171,139,206,117.3C240,96,274,64,309,53.3C342.9,43,377,53,411,85.3C445.7,117,480,171,514,186.7C548.6,203,583,181,617,165.3C651.4,149,686,139,720,122.7C754.3,107,789,85,823,85.3C857.1,85,891,107,926,106.7C960,107,994,85,1029,69.3C1062.9,53,1097,43,1131,69.3C1165.7,96,1200,160,1234,208C1268.6,256,1303,288,1337,277.3C1371.4,267,1406,213,1423,186.7L1440,160L1440,0L1422.9,0C1405.7,0,1371,0,1337,0C1302.9,0,1269,0,1234,0C1200,0,1166,0,1131,0C1097.1,0,1063,0,1029,0C994.3,0,960,0,926,0C891.4,0,857,0,823,0C788.6,0,754,0,720,0C685.7,0,651,0,617,0C582.9,0,549,0,514,0C480,0,446,0,411,0C377.1,0,343,0,309,0C274.3,0,240,0,206,0C171.4,0,137,0,103,0C68.6,0,34,0,17,0L0,0Z"></path></svg>
    <div class="feature-one">
      <div class="image-placeholder">Image placeholder</div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam atque maxime expedita numquam voluptatum minus officia modi in! Ex, ducimus omnis optio adipisci qui velit tenetur ipsam corrupti eligendi iste officia natus fugiat repellat accusantium consequuntur. Ratione quasi, ducimus voluptate facilis repudiandae consectetur et dolorum quisquam minus sapiente excepturi nobis laudantium recusandae impedit molestias cum sunt natus numquam eligendi, sequi libero, blanditiis magnam error nemo? Fuga sequi aliquid magnam dolor aliquam hic at, ea, pariatur laboriosam consequuntur, odio facere eveniet incidunt fugit a impedit reiciendis officia dicta itaque. Nihil dolore consectetur velit aliquam porro? Nobis asperiores aliquid ratione eaque?</p>
  </div>
  </div>
</section>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</body>
</html>